/* Removes automatic margins and paddings from every element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*set the default font*/
    font-family:Arial;
}

/* set background color*/
body{
    background-color: #CFDEE7;
}
/* This is the css for the navigation bar */
.navbar{
    /* Set the size and color of the navigation bar */
    width: 16vw;
    height: calc(100vh - 40px);
    background-color: #92B4F4;
    border-radius: 10px;
    /* Set the navigation bar elements sizes and orientations */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    /* Set the navigation bar sizes, orientations and location*/
    border: 2px solid #5E7CE2;
    padding: 20px;
    margin: 20px;
    position: fixed;
    
}
/* This is the css for the navigation bar elements */
.navbar > a{
    /* Remove URL highlighing */
    text-decoration: none;
    color: #4472CA;
    font-size: 1vw;
}
.navbar > a:nth-child(4){
    /* Set the font color for the Home page to be red */
    color: #0A369D;
}
.navbar > a:nth-child(1){
    /* Set the font color for the Home page to be red */
    text-align:center;
    font-size: 30px;
    color: #0A369D;
}
/*this is the css for the content bar*/
.contbar{
    /* Set the size and color of the navigation bar */
    width: 80vw;
    height: fit-content;
    background-color: #92B4F4;
    border-radius:10px;
    /* Set the navigation bar elements sizes and orientations */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    float:right;
    /* Set the navigation bar sizes and orientations */
    border: 2px solid #5E7CE2;
    padding: 20px;
    margin: 20px;

    /*set the font settings*/
    font-size: 20px;
}