/* Removes automatic margins and paddings from every element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*set the default font*/
    font-family:Arial;
}

/* set background color*/
body{
    background-color: #CFDEE7;
}
/* This is the css for the navigation bar */
.navbar{
    /* Set the size and color of the navigation bar */
    width: calc(100vw - 40px);
    background-color: #92B4F4;
    border-radius: 10px;
    /* Set the navigation bar elements sizes and orientations */
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
    /* Set the navigation bar sizes, orientations and location*/
    padding: 20px;
    border: 2px solid #5E7CE2;
    margin: 20px;
    
}
/* This is the css for the navigation bar elements */
.navbar > a{
    /* Remove URL highlighing */
    text-decoration: none;
    color: #0A369D;
    font-size: 1.7vw;
}
/*this is the code for the top bar*/
.topbar{
    /* Set the size and color of the top bar */
    height: fit-content;
    background-color: #92B4F4;
    border-radius:10px;
    /* Set the top bar elements sizes and orientations */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    /* Set the top bar sizes and orientations */
    border: 2px solid #5E7CE2;
    padding: 20px;
    margin: 20px;
    /*set the font settings*/
    font-size: 20px;
}

